<!DOCTYPE html>
<html>
  <head>
    <title>Sector Dashboard</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Welcome to Your Personalized Finance & Stock Dashboard</h1>
    <h2>Explore and track the performance of your favorite market sectors with ease.</h2>
    <ul>
      <li><a href="/apply">Input your information</a></li>
      <li><a href="/reviewFavorite">Display Sector</a></li>
      <li><a href="/viewSectors">List All Data</a></li>
      <li><a href="/adminRemove">Remove All</a></li>
    </ul>
  </body>
</html>
