<!DOCTYPE html>
<html>
  <head>
    <title>Sector Dashboard</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Welcome to Your Personalized Finance & Stock Dashboard</h1>
    <h2>Choose an option:</h2>
    <ul>
      <li><a href="/apply">Add Favorite Stock</a></li>
      <li><a href="/stockSearch">Stock Info Search</a></li>
      <li><a href="/reviewFavoriteStocks">Review Favorite Stocks by Email</a></li>
      <li><a href="/viewStocks">View Stock Search History</a></li>
      <li><a href="/remove">Remove All Favorite Stocks</a></li>
    </ul>
  </body>
</html>
