<!DOCTYPE html>
<html>
  <head>
    <title>Stock Info Search</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h2>Stock Info Search</h2>
    <form action="/stockInfo" method="POST">
      <label for="stockSelected">Enter Stock Symbol:</label><br />
      <input type="text" id="stockSelected" name="stockSelected" required placeholder="e.g., MSFT"><br />
      <button type="submit">Get Stock Info</button>
    </form>
    <br />
    <div class="home-button-container">
      <a href="/" class="button-link">HOME</a>
    </div>

  </body>
</html>
